@model MidExam_991483963_JobBoardApp.Models.Applicant

<h2>Application for: @ViewBag.JobTitle</h2>

<form asp-action="ApplyForm" method="post">

    <div asp-validation-summary="All" style="color:red;"></div>

    <div>
        <label asp-for="FullName"></label><br />
        <input asp-for="FullName" /><br />
        <span asp-validation-for="FullName" style="color:red;"></span>
    </div>

    <br />

    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" /><br />
        <span asp-validation-for="Email" style="color:red;"></span>
    </div>

    <br />

    <div>
        <label asp-for="PortfolioUrl"></label><br />
        <input asp-for="PortfolioUrl" /><br />
        <span asp-validation-for="PortfolioUrl" style="color:red;"></span>
    </div>

    <br />

    <button type="submit">Submit Application</button>
</form>
